* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    margin-bottom: 0;
}
body {
    background-color: #F0F2F8;
    color: #888;
}
.container {
    width: 35%;
    margin: auto;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
}
/*logo*/
.logo {
    width: 250px;
    height: 120px;
    padding-top: 250px;
    margin-bottom: 20px;
}
.logo img {
    width: 100%;
}
/*first-sec*/

.page-content {
    position: relative;
}
.first-sec {
    background-color: #FFF;
    border-radius: 6px;
    text-align: center;
     box-shadow: 0 0 0 1px hsl(0deg 0% 69% / 20%), 0 15px 35px 0 rgb(49 49 93 / 8%), 0 5px 15px 0 rgb(0 0 0 / 6%);
}
.first-sec-div1 {
    width: 110px;
    height: 100px;
    margin: auto;
}
.first-sec-div1 img {
    width: 80%;
    margin: auto;
}
.first-sec-div2 h4 {
    color: #555;
}
.second-sec {
    margin-top: 15px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 20px 30px ;
    box-shadow: 0 0 0 1px hsl(0deg 0% 69% / 20%), 0 15px 35px 0 rgb(49 49 93 / 8%), 0 5px 15px 0 rgb(0 0 0 / 6%);
}
.second-sec form p {
    margin-bottom: 15px;
}
.second-sec form input {
    margin-bottom: 15px;
}
.second-sec-prg {
    color: #F00;
}
.second-sec form button {
    margin-bottom: 10px;
}
.sms-verif {
    font-size: 12px;
}
#timer {
    color: #F00;
}
/*loader*/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
}
.lds-spinner {
    color: #FFF;
    display: inline-block;
    width: 80px;
    height: 80px;

}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background-color: #FFF;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
/*media*/
@media screen and (max-width:1100px) {
    .container {
        width: 60%;
        margin: auto;
        }
    }
    @media screen and (max-width:900px) {
    .container {
        width: 80%;
        margin: auto;
        }
    }
    @media screen and (max-width:480px) {
            .container {
                width: 100%;
                margin: auto;
                }
            }
.containerHead {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
}
.leftcontainerHead, .rightcontainerHead {

    flex: 1 0 calc(var(--width) - calc(var(--spacing) / 2));
    -webkit-flex: 1 0 var(--base);


    white-space: nowrap;
}
@media (min-width: 40.1em)  {
    .leftcontainerHead {
        margin-right: .4em;
    }
}

.textMessage2{
    font-size: 13px;
    color: #161616;
}

.textMessage{
    font-size: 13px;
    color: #3b3939;
}
footer{
    position: relative;
    display: block;
    background: #cbcaca;
}

.hrefa{
    text-decoration: none;
    font-family:helvetica;
    font-size:12px;
    letter-spacing:1px;
    color: #545353;
    line-height:20px;
}

.sub-nav{
    position:relative;
    display:block;
    margin:30px 0 20px 0;
}

.sub-nav ul{
    padding: 0;
    margin:0;
    width:180px;
    list-style:none;
}

.sub-nav ul li{
    text-decoration: none;
    font-family:helvetica;
    font-size:12px;
    letter-spacing:1px;
    color:#fff;
    line-height:20px;
}

.sub-nav ul li a:hover{
    color:#000;
    transition: 300ms ease-in;
}


.copyright {
    font-size:8px;
    letter-spacing: 0.5px;
    font-family:helvetica;
    text-align: left;
    font-weight: bold;
    display:block;
    margin: 0 auto;
    color: #151414;
}

@media screen and (min-width: 650px) and (max-width: 850px){
    footer{
        padding: 20px 10% 20px 10%;
    }

}

@media screen and (min-width: 851px) {

    footer {
        width: 100%;
        overflow: hidden;
        padding: 50px 10% 20px 10%;
    }


    .sub-nav {
        display: block;
        float: left;
        margin: 0px 0 0px 0;
        width: 40%;
    }

    .copyright {
        float: left;
        display: block;
        width: 100%;
        font-size: 11px;
    }
}

.paddingDiv{
    padding: 10px 30px 20px;

}
form .inpt222 {
    border: 1px solid #000;
    /*border-bottom-left-radius: 8px;*/
}
.btn-lg{
    margin-top: 20px;
    width: 100%;
}

.HROr {
    font-size: 13px!important;
    color: #3b3939;
    overflow: hidden;
    text-align: center;
}
.HROr:before,
.HROr:after {
    background-color: #c3c1c1;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.HROr:before {
    right: 0.5em;
    margin-left: -50%;
}
.HROr:after {
    left: 0.5em;
    margin-right: -50%;
}



.btn-sgnapore{
    background-color: #dc0032!important;
}